@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
    margin: 50px 0;
    background-image: url('../public/pic34.png');
    height: 462px;
    width: 1920px;
    background-size: cover;
    background-repeat: no-repeat;
}